.ServicesSec4 {
    margin: 12rem 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    div {
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h2 {
        text-align: start;
        width: 70%;
        font-size: 48px;
        margin-bottom: 2rem;
      }
      button {
        width: 270px;
        height: 65px;
        border: 2px solid #000;
        border-radius: 40px;
        background-color: #fff;
        font-size: 18px;
        font-weight: 600;
        transition: 0.2s ease all;
        &:hover {
          background-color: #000;
          color: #fff;
        }
      }
    }
    figure {
      max-width: 600px;
      margin-bottom: 2rem;
      order: -1;
    }
  }
  
  @media screen and (max-width: 768px) {
    .ServicesSec4 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      >div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            width: 100%;
            text-align: center;
        }
      }
    }
  }
  