#commonSec{
        margin-top: 12rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 50px;
        }
        div{
            height: 120px;
            margin: 3.5rem 0;
            border-right: 1.5px solid #000;
        }
        p{
            text-align: center;
            width: 70%;
            font-size: 18px;
            font-weight: 600;
            line-height: 37px;
            letter-spacing: 1px;
        }
}