#ContactHero {
    margin: 12rem 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        width: 50%;
      font-size: 90px;
    }
    p {
      margin-top: 4rem;
      text-align: center;
      width: 60%;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
    }
  }
  @media screen and (max-width: 992px) {
    #ContactHero {
      h2 {
        width: 100%;
        font-size: 70px;
      }
      p {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    #ContactHero {
      h2 {
        width: 100%;
        font-size: 55px;
      }
      p {
        width: 100%;
      }
    }
  }
  