#HomeSec6 {
  margin: 6rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 1rem;
    figure {
      max-width: 600px;
    }
    h3 {
      font-size: 40px;
      font-weight: 600;
      margin: 2rem 0;
    }
    a {
      font-size: 19px;
      font-weight: 600;
      text-decoration: underline;
      &:hover {
        color: #000;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  #HomeSec6 {
    flex-direction: column;
  }
}
