#AboutSec6 {
  height: 750px;
  margin: 12rem 0;
  background-image: url("../assets/img/Home/photo-hero-about-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
